---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
const blogEntries = await getCollection('blog');
return blogEntries.map(entry => ({
params: { slug: entry.slug },
props: { entry },
}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <article class="mb-4">
        <h2>{entry.data.title}</h2>
        <p class="text-muted">{entry.data.pubDate.toUTCString()}</p>
        {entry.data.tags && (<p>{entry.data.tags.join(', ')}</p>)}
        <Content />
    </article>
</Layout>
