---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout title="菊池ブログ">
    {posts.map(post => (
    <article class="mb-4">
        <h2>{post.data.title}</h2>
        <p class="text-muted">{post.data.pubDate.toUTCString()}</p>
        <a class="btn btn-primary" href={`/blog/${post.slug}/`}>続きを読む</a>
    </article>
    ))}
</Layout>
